<%= simple_form_for([@board, @pin], html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>


  <div class="form-inputs">
    <%= f.input :image, label: "Upload an Image" %>
    <%= f.input :description, as: :text, input_html:{rows: "3"} %>
    <%= f.hidden_field :board_id, value: @board.id %>
  </div>

  <div id="headshot">
    <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>
    <%= headshot_camera %>
    <br/>
    <%= headshot_snap_button %>
  </div>

  <div class="form-actions">
    <br>
    <%= f.button :submit, class: "btn btn-info" %>
  </div>
<% end %>
